@model E_Learning.Models.TopicList


<table class="table text-center ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Cname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicName)
        </th>
        <th>
            Action
        </th>
    </tr>
    <tbody>
        <tr>
            <td>
                <h5>
                    @Html.DisplayFor(model => model.Course.Cname)
                </h5>
            </td>
            <td>
                <h5>
                    @Html.DisplayFor(model => model.TopicName)
                </h5>
            </td>
            <td>
                @Html.ActionLink("Watch", "TopicList", new { @Controller = "topiclist", i = Model.Id}, new { @class = "font-weight-bold fa fa-eye" })
            </td>
        </tr>
    </tbody>
</table>

