@model IEnumerable<E_Learning.Models.TotalLike>

@{
    ViewBag.Title = "test";
}

<table class="table table-hover bg-warning">

    <tr>
        @foreach (var item in Model)
        {
            <td>
                <div class="card border">
                    <div class="card-header  text-capitalize  bg-light alert-primary">
                        <div class="h2 text-center">
                            <strong>
                                <text>Course Details</text>

                            </strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <u>Course Name :&nbsp;</u>
                            <span>
                                <p class="card-text ">
                                    @Html.DisplayFor(modelItem => item.Course.Cname)
                                </p>
                            </span>
                        </h5>
                        <h5 class="card-title">
                            <u>Author :&nbsp;</u>
                            <span>
                                <p class="card-text ">
                                    @Html.DisplayFor(modelItem => item.Course.TutorDetail.Fname) &nbsp; @Html.DisplayFor(modelItem => item.Course.TutorDetail.Lname)
                                </p>
                            </span>
                        </h5>
                        <h5 class="card-title">
                            <u>Course Level</u>
                            <span>
                                <p class="card-text">
                                    @Html.DisplayFor(modelItem => item.Course.Clevel)
                                </p>
                            </span>
                        </h5>
                        <h5 class="card-title">
                            <u>Course Fees</u>
                            <span>
                                <p class="card-text">
                                    <i class="fa fa-credit-card " aria-hidden="true"></i>  @Html.DisplayFor(modelItem => item.Course.Fee)
                                </p>
                            </span>
                        </h5>
                        <h5 class="card-title">
                            <u> Total Topic</u>
                            <span>

                                <p class="card-text fa fa-video">
                                    @Html.DisplayFor(modelItem => item.totalLike)
                                </p>
                            </span>
                        </h5>
                        @{
                            if (ViewBag.video != null)

                            {
                                <div class="row-cols-sm-6">
                                    <strong><u>Demo Video</u></strong>
                                    <img src="~/Image/Demo-video.png" width="70px" height="100px" class="img-fluid img-thumbnail" data-toggle="modal" data-target="#modal6" class="btn btn-primary fa fa-file-video" data-backdrop="static" id="open" data-keyboard="false">
                                </div>
                            }
                        }


                    </div>
                    <div class="card-footer text-lg-center ">
                        @{
                            if (ViewBag.reg == null)
                            {
                                using (Html.BeginForm("RegistrationIndex","cart",FormMethod.Get))
                                {
                                   

                                                <input type="hidden" name="id" value="@item.Course.Id">
                                         <button type="submit" href="/cart/RegistrationIndex/@item.Course.Id" value="Create" class="p-2 m-2 btn hvr-sweep-to-right btn-success btn-lg text-center d-flex  justify-content-center d-md-table mx-auto">

                                    <span class=" vivify popInLeft delay-1000">Add to Cart</span>
                                    <span><i class="fa fa-shopping-cart"></i></span>
                                </button>
                                }
                               

                            }
                            else
                            {
                                <div class="form-control bg-danger text-center">
                                    <label class="text-white">
                                        <strong>
                                            You Already Register This Course.Thank You

                                        </strong>
                                    </label>
                                </div>
                            }
                        }

                    </div>
                   
                </div>

            </td>
        }
    </tr>
</table>

<style>
    .card-footer:hover {
        background-color: cornflowerblue;
        font-size: 18px;
    }
</style>


<div class="col-lg-4 col-md-6 mb-4 " id="videodiv" >

    <!--Modal: Name-->
    <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

            <!--Content-->
            <div class="modal-content">

                <!--Body-->

                
                <video width="100%" class="video-fluid z-depth-1 fa " id="movie" style="height: auto;" allowfullscreen="false" controls="false" disablePictureInPicture disableFullScreen controlsList="nodownload">
                    <source src="@ViewBag.video" type="video/mp4">
                    Your browser does not support the video tag.
                </video>




                <!--Footer-->
                <div class="modal-footer justify-content-center">

                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" id="close" data-dismiss="modal">Close</button>

                </div>

            </div>
            <!--/.Content-->

        </div>
    </div>
    <!--Modal: Name-->
   
    

</div>
<script>
    $(document).ready(function () {

        $('#open').click(function () {
            $('videodiv').addClass("vivify popIn");
            $('video').trigger('play');
        });
        $('#close').click(function () {
            $('video').trigger('pause');
        });
});
</script>