@model E_Learning.Models.Course
@{
    //Layout = null;
}
@section Scripts
{
    <script src="~/Content/chosen_v1.8.7/chosen.jquery.js"></script>
    <link href="~/Content/chosen_v1.8.7/chosen.css" rel="stylesheet" />
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js" integrity="sha256-TDtzz+WOGufaQuQzqpEnnxdJQW5xrU+pzjznwBtaWs4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css" integrity="sha256-0LjJurLJoa1jcHaRwMDnX2EQ8VpgpUMFT/4i+TEtLyc=" crossorigin="anonymous" />*@
    <script src="~/Content/Sweetalaert/sweetalert.js"></script>
    <link href="~/Content/chosenbootsrap.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            $('.dropdownlistcourse').val("");
            $('.dropdownlistcourse').css("height", "100%");
            $('.dropdownlistcourse').addClass("text-primary");
            $("#dropdownlistcourse").chosen({
                width: '100%'
            });
        });
    </script>

    <script>
    // In your Javascript (external .js resource or <script> tag)

    $(document).ready(function () {

        $('#courselevel').html("<select id='cleveldropdown'><option value=''>--Select Course Level--</option></select>");
         $("#dropdownlistcourse").change(function () {
             var selectedItem = $(this).val();
             //alert(selectedItem);
                // var ddlStates = $("#StateId");

             $.ajax({
                 cache: false,

                 url: '@Url.Action("/GetLevel")',
                        method: 'post',
                        contentType: 'application/json;charset=utf-8',
                        data: JSON.stringify({ level: selectedItem }),
                        dataType: 'json',
                 success: function (data) {
                    // alert(data);
                    var clevel = "<select id='cleveldropdown'>";
                        clevel = clevel + '<option value="">--Select--</option>';
                        var gfg = JSON.stringify(data[i]);

                        console.log(gfg);
                    for (var i = 0; i < data.length; i++)
                    {
                        // var gfg = JSON.stringify(data[i]);
                        var jsond=JSON.parse(JSON.stringify(data[i]));
                        console.log(jsond.Clevel);

                        switch (jsond.Clevel) {

                            case 0:
                                clevel = clevel + '<option value=' + jsond.Clevel + '>' + "Beginer" + '</option>';
                                 break;
                            case 1:
                                clevel = clevel + '<option value=' + jsond.Clevel + '>' + "Ammature" + '</option>';
                                break;
                             case 2:
                                clevel = clevel + '<option value=' + jsond.Clevel + '>' + "Expert" + '</option>';
                                break;
                             case 3:
                                clevel = clevel + '<option value=' + jsond.Clevel + '>' + "Others" + '</option>';
                                break;
                        }

                    }
                    clevel = clevel + '</select>';
                    $('#courselevel').html(clevel);
                }    , failure: function (response) {
                    alert(response.responseText);
                },
                    error: function (xhr, ajaxOptions, thrownError,data) {
                        alert( data);


                    }
                });
            });
});
    </script>
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class=" text-center  bg-warning m-0 p-3 vivify unfold " style="border-radius:1.5rem;">
    <h2 class="text-center text-capitalize text-dark vivify unfold"><i class="fa fa-search"></i>Course Search</h2>
</div>

<hr />

@using (Html.BeginForm("Index", (ViewBag.addquestion == null ? "Topiclist" : "Question"), FormMethod.Post, htmlAttributes: new { @id = "courseselectform" }))
{

    @Html.AntiForgeryToken()

    <div class="shadow-lg p-4 m-4 vivify swoopInBottom delay-200">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="  justify-content-center">
            <h2 class="text-center text-dark  ">
                @Html.LabelFor(model => model.Cname, htmlAttributes: new { @class = " " })
            </h2>
            

            <div class="col-md-12 text-primary">

                @Html.DropDownListFor(model => model.Cname, new SelectList(ViewBag.droplist, "cname", "cname"), "--Please Select Course Name--", new { id = "dropdownlistcourse", @class = "form-control   selectpicker", data_show_subtext = "true", data_live_search = "true", style = "width: 100%;" })
                @Html.ValidationMessageFor(model => model.Cname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="container justify-content-center">
            <h2 class="text-center text-dark ">
                <span class="h1">
                    @Html.LabelFor(model => model.Clevel, htmlAttributes: new { @class = "label" ,@styles="font-weight:50px"})
                </span>
               
               
            </h2>
            <div class="col-md-12">
                @Html.EnumDropDownListFor(model => model.Clevel, htmlAttributes: new { @class = "form-control", @id = "courselevel" })
                @Html.ValidationMessageFor(model => model.Clevel, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <div class="d-flex justify-content-center row-cols-lg-4 vivify popIn"><button type="button" class="btn btn- btn-block btn-primary text-center" id="btnGet" style="font-size:2rem;">search     &nbsp;<i id="isrch" class="fa fa-search vivify"></i></button></div>

                @*<input type="submit" value="Search" class="btn btn-success " id="btnGet" /><i class="text-dark fa fa-search"></i>*@
            </div>
        </div>
    </div>
}

<script>

    $(document).on('click', '#btnGet', function (e) {
        e.preventDefault();
        if ($("#dropdownlistcourse").val() != '' && $("#courselevel").val() != '') {
            //$("#dropdownlistcourse").empty();
            //$("#dropdownlistcourse").text('');
            $("#courseselectform").submit();
        } else {
            swal({
                title: "No Item Chosen",
                text: "Please Select Correct Details..",
                icon: "warning",
                dangerMode: true,
            });
        }




    });
</script>


