@model IEnumerable<E_Learning.Models.TopicList>

@{
    ViewBag.Title = ViewBag.courseNameLevel;

}

<script src="~/Scripts/jquery-3.4.1.js"></script>

<script src="~/Content/toastr/toastr.min.js"></script>
<link href="~/Content/toastr/toastr.css" rel="stylesheet" />
<script src="~/Content/Sweetalaert/sweetalert.js"></script>
@if(ViewBag.topic==null)

{
    <div class="row ">
        <div class=" embed-responsive embed-responsive-16by9 col-xl-9">

            <video width="240" class="video-fluid z-depth-1 fa " style="height: auto;" controls disablePictureInPicture controlsList="nodownload">
                <source src="@ViewBag.videourl" type="video/mp4">
                Your browser does not support the video tag.
            </video>

        </div>

        <div class="col-xl-3  bg-dark " style="overflow: auto;  max-height:530px">
            <table class="table table-borderless " style="">
                <tr>
                    <th class="text-dark alert-primary text-center">
                        @Html.DisplayNameFor(model => model.TopicName)

                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="bg-dark ">

                            <p class="text-white">
                                @Html.ActionLink(item.TopicName, "TopicList", new { i = item.Id }, new { @class = "font-weight-bold" })
                                <span onclick="myFunction(this); " id=@item.Id class="fa fa-thumbs-up"></span>
                                <span class="float-right" data-toggle="tooltip" data-placement="top" title="Number of views"><i class="fa fa-eye" aria-hidden="true"></i>@item.Views</span>
                            </p>
                                </td>

                    </tr>


                }

            </table>
        </div>
    </div>
    <div>
        @foreach (var person in ViewBag.data)
        {
            <script>
            $("#@person").removeClass("fa-thumbs-up");
            $("#@person").addClass("fa-thumbs-down");
            </script>

        }
        <div id="UserControl">

        </div>
    </div>
    @section Scripts{
         }
    <script>
    $(document).ready(function () {
        $('#UserControl').load("/TopicList/Details/" + @ViewBag.Topicid);
        $("#showAnswer").click(function () {
            var a = $("#showAnswer").val();
            $('#UserControl').load("/TopicList/Details/" + $("#showAnswer").val());

        });
    });
    </script>
    <script>
            function myFunction(x) {


                if ($(x).hasClass("fa-thumbs-up")) {
                    //alert($(x).id);
                     $.ajax({
                        url: '@Url.Action("/Tlike")',
                        method: 'post',
                        contentType: 'application/json;charset=utf-8',
                        data: JSON.stringify({ id: x.id }),
                        dataType: 'json',
                         success: function (data) {



                        }

                     });
                    toastr.success('You like This Post.');
                } else{
                    $.ajax({
                        url: '@Url.Action("/TDislike")',
                        method: 'post',
                        contentType: 'application/json;charset=utf-8',
                        data: JSON.stringify({ id: x.id }),
                        dataType: 'json',
                         success: function (data) {



                        }
                    });
                    toastr.options = {
                        "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "12000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                    toastr.error('You dislike This Post.');
                }
                $(x).toggleClass("fa-thumbs-down fa-thumbs-up");

                }

    </script>
    <style>

        table {
            border-collapse: collapse;
            table-layout: fixed;
        }

            table td {
                border: solid 1px #fab;
                width: 150px;
                word-wrap: break-word;
            }
    </style>
}
else
{
    <script>
        swal({
            title: "Sorry No Topic Found",
            text: "",
            icon:"error"
        });
    </script>
}
