@model IEnumerable<E_Learning.Models.QuestionSet>

@{
    ViewBag.Title = "Index";

}
<div class=" text-center  bg-warning m-0 p-3 vivify unfold " style="border-radius:1.5rem;">
    <h2 class="text-center text-capitalize text-dark vivify unfold"><i class="la la-question-circle"></i>Add Question</h2>
</div>
<hr />

@using (Html.BeginForm("create", "Question", FormMethod.Get))
{
    <div class="row m-4 p-4">
        <div class="col-md-6 offset-md-3">

            <button type="submit" value="Edit" class="btn btn-success btn-lg text-center d-flex  justify-content-center d-md-table mx-auto hvr-shutter-out-horizontal" style="font-size:1.5rem;">
              

                <span class=" vivify popInLeft delay-1000">Add New Question</span>
                <span><i class="fa fa-info  fa-xs"></i></span>

            </button>


        </div>
    </div>
}



@foreach (var item in Model)
{
    <div class="container-fluid vivify swoopInBottom ">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header ">
                        <div class="container ">
                            <div class="row">
                                <div class="col-sm ">
                                    <h4 class="text-left"> @Html.DisplayFor(modelItem => item.QuestionDescription)</h4>
                                </div>
                                <div class="col-sm text-right font-weight-bold">

                                    <div class="row">
                                        <div class="col-md-3 offset-md-9">
                                            @Html.ActionLink("Edit", "Edit", new { controller = "Question", id = item.QuestionSetId }, new { @class = "btn alert-info  btn-block  fa fa-edit" })
                                            @using (Html.BeginForm("Delete", "Question", FormMethod.Post, new { id = item.QuestionSetId }))
                                            {
                                                @Html.AntiForgeryToken()
                                                {


                                                    <input type="hidden" name="id" value="@item.QuestionSetId" />
                                                    @*<input type="submit" value="Edit" class="btn btn-primary btn-block badge-success " />*@
                                                    <button type="submit" id=@item.QuestionSetId class="btn btn-danger btn-block badge-warning ">Delete &nbsp;<i class="fa fa-trash  fa-xs"></i></button>
                                                    <script>
                                    $(document).on('click', '#@item.QuestionSetId', function (e) {
                                        e.preventDefault();
                                        swal({
                                        title: "Are you want to delete this question?",
                                        icon: "warning",
                                        buttons: true,
                                        //dangerMode: true,
                                        dangerMode: true,
                                    })
                                        .then((willDelete) => {

                                            if (willDelete) {

                                                $("#@item.QuestionSetId").submit()
                                            }

                                        });
                                    });

                                                    </script>
                                                }
                                            }

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-body">


                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">

                                        <div class="card-body">
                                            <div class="form-group  m-0 p-0">
                                                <h4 class="form-check-label font-weight-bold text-left ">
                                                    @Html.DisplayNameFor(m => m.Option1):
                                                    @Html.DisplayFor(modelItem => item.Option1)
                                                </h4>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <div class="form-group  m-0 p-0">
                                                <h4 class="form-check-label font-weight-bold text-left ">
                                                    @Html.DisplayNameFor(m => m.Option2):
                                                    @Html.DisplayFor(modelItem => item.Option2)

                                                </h4>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <div class="form-group  m-0 p-0">
                                                <h4 class="form-check-label font-weight-bold text-left ">
                                                    @Html.DisplayNameFor(m => m.Option3):
                                                    @Html.DisplayFor(modelItem => item.Option3)

                                                </h4>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <div class="form-group  m-0 p-0">
                                                <h4 class="form-check-label font-weight-bold text-left ">
                                                    @Html.DisplayNameFor(m => m.Option4):
                                                    @Html.DisplayFor(modelItem => item.Option4)

                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">

                                        <div class="card-body">
                                            <div class="form-group  m-0 p-0">

                                                <h4 class="form-check-label font-weight-bold ">
                                                    @Html.DisplayNameFor(m => m.CorrectAnswer):
                                                    Option @Html.DisplayFor(modelItem => item.CorrectAnswer)
                                                </h4>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <div class="form-group  m-0 p-0">
                                                <h4 class=" form-check-label font-weight-bold text-left mt-3"> Marks: @Html.DisplayFor(modelItem => item.Mark)</h4>

                                            </div>
                                            <div class="dropdown-divider"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}
